useDynLib(BSCRN, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(ParScreenVars)
export(PolyaTreePriorLikCons)
export(PolyaTreeBFcons)
export(PolyaTreePredDraws)
export(PolyaTreetest)
export(CVBFtestrsplit)
export(PredCVBFIndepMHbw)
export(PredCVBFMHbw)
export(PredCVBFDens)
export(SeqScreenVars)